[submodule "webapp_heroku"]
	path = webapp_heroku
	url = https://git.heroku.com/cardio-catch-prediction.git
[submodule "streamlit_app"]
	path = streamlit_app
	url = https://git.heroku.com/cardio-catch-app.git
